.page-wrapper {
	width: 99vw;
	height: 98vh;
	font-family: 'Roboto', sans-serif;
	margin: 5px auto;
	font-size: 16px;
	line-height: 20px;
}

.page-header {
	background: #f1f1f1;
	padding: 25px 20px;
	font-size: 30px;
	font-weight: 700;
	border: 1px solid #f7f7f7;
	margin-bottom: 20px;
}

.info {
	float: left;
	width: 15%;
	margin-right: 3%;
}

.info-list__item {
	border-bottom: 1px solid #f7f7f7;
}

.info-list__item a {
	color: #000;
	display: block;
	padding: 15px 10px 10px;
}

.content {
	float: left;
	width: 63%;
}

.content-title {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 25px;
}

.content-img-wrap {
	width: 100%;
	height: 400px;
	background: url(../img/the_pulpit_rock.jpg) no-repeat 50%;
	background-size: cover;
	margin-top: 15px;
}

.questions {
	float: right;
	background-color: #cdf0f6;
	width: 15%;
	/*padding: 10px;*/
}

.item-title {
	font-size: 22px;
	font-weight: 700;
	margin: 20px 5px;
	
}

.item-text {
	margin: 0 5px 10px;
}
