html,
body {
    margin: 0;
    padding: 0;
}

.wrapper{
    box-sizing: border-box;
	width: 760px;
	height: 1689px;
	padding: 55px 57px 40px;
	background-color: #d1d1d1;
}

.layout-positioner{   
    margin: 0 auto;
    width: 646px;
    }
    
.layout-positioner:after{ 
    display:table;	
    content: "";		
    clear: both;    
    }
    
.header{
    width: 646px;    
    margin-bottom: -4px;
    /*margin: 0;*/
}

.content{
    padding-top: 40px;
    background-color: white;
    width:646px;
   }

.header-1{ 
    background-color: white;
    width:646px;
    min-height: 308px;
    padding:0px;
}

.center{
    padding: 0 240px;
}

.header-1 p{
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: black;
    line-height: 1.5;
    padding: 5px 50px; 
    width: 546px;
    
}

.layout{    
    height: 210px; 
}

.text{
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a{
    color: blue;
    line-height: 2;
}

.doc{
    color: white;
}

.button{
    font-family: "Arial", sans-serif;
    font-size: 16px;
    height:30px;
    background-color: #cf5b4e;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin: 20px 0 25px;
}

.column1{
    width: 257px;      
    float:left;
    margin-left:50px;
}

.column2{
    width: 257px; 
    float:right;
    margin-right:50px;
}

.layout-column{
    min-height:210px;
}

.con1{           
    float: left;
    margin-left: 50px;
}

.con2{ 
    float: left;  
    margin-left: 35px;  
}

.con3{   
    float: right;
    margin-right: 50px;    
}

.block2{
    width: 160px;
}

.button2{
    font-family: "Arial", sans-serif;
    width: 160px;
    font-size: 16px;
    height:30px;
    background-color: #cf5b4e;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-top: 15px;
}

.down{
    color: black;
    padding: 15px 50px; 
    width: 546px;
    float:left;
}

.block3{
    width: 546px;
    float: left;
    margin-left: 50px;
}

.footer{
    margin-top: 35px;
    background-color:#d1d1d1;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    text-align: center;
    color: white;
}