/*.row {
	background-color: #1565c0;
}*/

.col {
    border: 3px solid #fff;
}

.logo {
    height: 5vh;
}

.underlogo {
    font-weight: bold;
    font-size: 25px;
}

.navigation {
    height: 95vh;
}

a.btn {
    width: 15% !important;
}

.resized {
    width: 37% !important;
}

.boxheight {
    height: 20vh;
}

span {
    font-weight: bold;
    margin: 0 auto;
}

nav {
    background: none;
    color: black;
    box-shadow: none;
}
