.wrapper{
    width: 100%;
   
}
.button-like{
    width: 100px;
    height: 30px;
    margin: 50px auto;
}
.button-like_red{
    background: #39ae1e;
}

.button-like_red:hover {
    background: #effb2d;
}
.button-like_red:active{
    background: #f21c26;
}
.button-like_gold{
    background: #5c1dad;
}
.button-like_gold:hover{
    background: #ad8a1d;
}
.button-like_gold:active{
    background: #4c2807;
}
.field-like{
    margin: 0 auto;
    width: 240px;
    height: 24px;
}
.field{
    height: 24px;
    width: 240px;
    border: 1px solid #000;
    padding:2px;
    outline: 0;
}
.field_login:focus{
    background: #fff;
    border: 1px solid #39ae1e;
}
.paragraph{
    width: 250px;
    min-height: 100px;
    margin: 50px auto;
}
.paragraph_even:nth-child(even){
    background: #c0c0c0;
}

.paragraph_letter::before{
    position: absolute;
    content: "\002602";
    left: 5px;
    bottom: 4px;
}
p.paragraph_letter{
    position: relative;
    padding-left: 15px;
}
p.paragraph_letter::first-letter {
    color: #f21c26;
    font-size: 2em;
    font-family: Georgia, Arial, sans-serif;
}
.paragraph_even::after {
    content: "*";
}
.paragraph_letter::after{
    content: "*";
}
.paragraph_even::before{
    content: "\002602";
}
.block{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
}
.block_small{
 display: block;
    width: 30px;
    height: 20px;
    background: #000000;
    z-index: 0;
}
.block_small::before{
    content:"\25c0";
    display: block;
    position: relative;
    left: -10px;
    top: 1px;
}
