
.main {
    margin-top: 2rem;
}

.main_left {
    background: url('../img/p_1.jpg') repeat-y;
    background-size: contain;
}

.main_right {
    background: url('../img/p_2.jpg') repeat-y;
    background-size: contain;
}

.row .first {
    margin-bottom: 0;
}

.bold {
    font-weight: bold;
}

.header {
    height: 5rem;
    padding: 0;
    border: 1px solid #fff;
}

.header p {
    margin: auto;
}

.row.line {
    margin-bottom: 18px;
}

.header_right {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 1rem;
}

.link_right {
    height: 5rem;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 1rem;
}

.inner {
    width: 14.285%;
    height: 2.5rem;
    margin-top: 1.24rem;
    border: 1px solid #fff;
}

.inner p, .navigation p {
    margin: auto;
}

.inner1 {
    width: 12.4%;
    height: 2.5rem;
    margin-top: 1.25rem;
    position: relative;
    
}

.link {
    position: absolute;
    right: 0;
    top: .1%;
}

.link:last-child {
    margin-right: 5px;
}

.row .navbar {
    margin-bottom: 0;
}

.navigation {
    height: 45.5rem;
}

.row.image {
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: row;
    
}

.content {
    height: 10rem;
    width: 49%;
    
}

.content:first-child {
    margin-right: 1rem;
}

.content h5, .content1 h5 {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.content p, .content1 p {
    margin: 0;
    font-size: .9rem;
}

.content1 {
    height: 10rem;
    width: 32.5%;
    margin-right: 1rem;
}

.content1:last-child {
    margin-right: 0;
}

.content p, .content1 p {
    margin: auto;
}
