* {
    box-sizing: border-box;
}

.chess {
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    width: 600px;
}

.red {
    height: 200px;
    width: 200px;
    background-color: #791c16;
}

.white {
    height: 200px;
    width: 200px;
    background-color: #fff;
}

.bishop {
    padding: 10px;
}

.bishop img {
    height: 100%;
    width: 100%;
}

.horse {
    padding: 10px 13px;
}

.horse img {
    height: 100%;
    width: 103.5%;
}

.rook {
    padding: 10px 12px;
}
.rook img {
    height: 99%;
    width: 101%;
}
