@charset "utf-8";
body  {
	background-size: 100% 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 150%;
	font-weight: normal;
	font-variant: normal;
	background-attachment: fixed;
	background-color: #FFF;
	background-image: url(images/strip.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: left;	
}
.lgp #wrapper { 
	width: 960px;  
	background-image:url(images/header-bg.png);
	background-repeat:repeat-x;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px;
	background-color: #FFFFFF;
	margin: 25px auto; 
	border: 1px solid #000000;
	text-align: left; 
} 
.lgp header { 
	height:120px;
	float:left;
	width:100%;
	margin-bottom:40px;	
} 
.lgp header h1 {
	margin: 0; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100px;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;	
}
aside a {
	color:#000;
}
aside a:hover {
	text-decoration:underline;
	font-size:14px;
}
.lgp aside {
	float: left; 
	width: 200px; 
	padding: 15px 10px 15px 20px;
}
.lgp aside ul {
	margin: 0px;
	padding-left: 20px;
	line-height: 150%;
}
.lgp aside ul li {
	margin:10px 0;
}
.lgp aside ul li a {
	color:#000;
	font-size:13px;
	text-decoration:none;
}
.lgp aside ul li a:hover {
	color:#000;
	/* font-size:14px; */
	text-decoration:underline;
}
.lgp main { 
	width:680px;
	padding: 0 20px; 
	float:right;
} 
.lgp footer { 
	padding: 0 10px 0 20px; 
	background:#DDDDDD; 
	
	height:90px;
} 
.lgp footer p {
	margin: 0; 
	padding: 10px 0; 
}
.lgp footer a {
	color:black;
	text-decoration:none;
}
.lgp footer a :hover {
	color:black;
	text-decoration:underline;
}
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.lgp #wrapper header img {
	margin: 10px;
}
.contacts {
	width: 400px;
	height: 100px;
	margin: 10px;
	float: right;
	line-height: 21px;
	font-size: 14px;
}
.logo {
width:300px;
height:100px;
padding:10px;
float:left;
}
h1 {
	line-height:150%;
}
.bordered {
	margin:15px;
	border-radius:10px;
	border:5px solid #00698c;
}
.clearfix {
	width:500px;
	height:2px;
	float:none;
}
.centered-image {
	display: block;
	text-align: center;
	margin-bottom: -5px;
}
