* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lucida Sans", Verdana, sans-serif;
}

h1 {
    font-size: 2em;
    padding: 1%;
    padding-top: 1.8%;
}

.main-header p {
    padding: 1%;
    padding-top: 1.5%;
}

.grid-container {
    width: 100%;
}

.grid-wrapper {
    overflow: hidden;
}

.main-header {
    padding: 1%;
    background-color: #ff9800;
    border: 2px solid #fff;
    height: 25%;
    width: 100%;
}

.column-header {
    font-size: 1.8em;
    padding: 5.7%;
}

.grid-column {
    width: 33.3%;
    float: left;
}

.grid-column p {
    padding-left: 6%;
    padding-top: 1.2%;
    font-size: 1em;
}

.grid-column img {
    height: 180px;
}

.image-adaptive {
    display: inline-block;
    width: 42%;
    height: auto;
    padding-left: 6%;
    object-fit: cover;
    padding-top: 5%;
}

@media only screen and (max-width: 960px) {
    .grid-column {
        width: 100%;
        float: left;
        margin: 0;
    }

    .grid-box {
        margin-right: 0;
        float: left;
    }

    .main-header {
        padding: 3%;
        height: 30%;
        width: 100%;
    }

    .main-header p {
        padding-top: 4.4%;
    }


    .column-header {
        font-size: 1.8em;
        padding: 4.8%;
    }

    .grid-column p {
        padding-left: 4.8%;
        padding-top: 0.8%;
        font-size: 1em;
    }

    .image-adaptive {
        display: block;
        max-width: 100%;
        height: auto;
    }
}
