$fontSize: 20px;

body {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    font-size: $fontSize;
}

code {
    font-weight: bold;
}
.btn {
    width: 15%;
    min-height: 40px;
    border-radius: 15px;
    background-color: #00da00;

}

.btn:focus {
    outline: 0;
}

.image {
    margin: 20px auto;
    text-align: center;
}