@font-face {
  font-family: 'Arial';
  src: url("../fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Arial';
  src: url("../fonts/ArialBold/ArialBold.woff") format("woff"), url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: 'Arial';
  src: url("../fonts/ArialItalic/ArialItalic.woff") format("woff"), url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }
span {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.background {
  background-color: #d1d1d1;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin: auto;
  padding: 57px 6px 0 3px;
  text-align: center;
  width: 750px; }

.cardio-usg, .gynecologist-usg, .neurologist {
  float: left;
  margin-bottom: 23px;
  width: 160px; }
  .cardio-usg div, .gynecologist-usg div, .neurologist div {
    border: none;
    border-radius: 5px;
    background-color: #f00;
    height: 41px;
    line-height: 41px;
    text-align: center;
    width: inherit;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold; }
    .cardio-usg div a, .gynecologist-usg div a, .neurologist div a {
      color: #fff;
      text-decoration: none; }
  .cardio-usg img, .gynecologist-usg img, .neurologist img {
    height: 213px;
    margin-bottom: 8px; }
  .cardio-usg p, .gynecologist-usg p, .neurologist p {
    height: 108px; }

.clearfix:after {
  content: "";
  clear: both;
  display: block; }

.expirience {
  width: 550px; }

.fixed-price {
  margin: 23px 0 0; }
  .fixed-price a {
    text-decoration: underline; }

.float_wrap {
  display: inline-block;
  margin: 31px 0 0; }

footer {
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 0.64em;
  min-height: 67px;
  line-height: 2.1em;
  margin: auto;
  padding-top: 42px;
  width: 370px; }
  footer a {
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: underline; }

.gynecologist, .teeth-clean {
  float: left;
  margin-bottom: 30px;
  width: 255px; }
  .gynecologist div, .teeth-clean div {
    border: none;
    border-radius: 5px;
    background-color: #f00;
    height: 41px;
    line-height: 41px;
    text-align: center;
    width: inherit;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold; }
    .gynecologist div a, .teeth-clean div a {
      color: #fff;
      text-decoration: none; }
  .gynecologist img, .teeth-clean img {
    height: 213px;
    margin-bottom: 8px; }
  .gynecologist p, .teeth-clean p {
    height: 85px; }

.gynecologist-usg {
  margin-left: 30px; }

.header-image {
  max-width: 100%;
  height: auto; }

.facebook {
  border: none;
  border-radius: 5px;
  background-color: #f00;
  height: 41px;
  line-height: 41px;
  text-align: center;
  width: inherit;
  font-size: 15px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-top: 54px;
  width: 540px; }
  .facebook a {
    color: #fff;
    text-decoration: none; }
  .facebook a {
    text-decoration: none; }
  .facebook span {
    font-family: Arial, sans-serif;
    font-style: italic; }

main {
  line-height: 1.45em;
  margin: 51px 40px 0 50px;
  text-align: left; }
  main h4 {
    margin: 0 12px 10px 0;
    text-align: center; }

.neurologist {
  margin-left: 30px; }

.right-choice p {
  margin-bottom: 10px; }
.right-choice a {
  text-decoration: underline; }
.right-choice span {
  font-family: Arial, sans-serif;
  font-style: italic; }

.teeth-clean {
  float: left;
  margin-left: 30px; }
  .teeth-clean div {
    border: none;
    border-radius: 5px;
    background-color: #f00;
    height: 41px;
    line-height: 41px;
    text-align: center;
    width: inherit;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold; }
    .teeth-clean div a {
      color: #fff;
      text-decoration: none; }
  .teeth-clean img {
    height: 213px;
    margin-bottom: 8px; }

.wrapper {
  background-color: #fff;
  font-size: 16px;
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
  width: 641px; }

.xdays-left {
  margin: 33px 0 23px; }

/*# sourceMappingURL=style.css.map */
