@font-face {
  font-family: 'Arial';
  src: url("../fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Arial';
  src: url("../fonts/ArialBold/ArialBold.woff") format("woff"), url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: 'Arial';
  src: url("../fonts/ArialItalic/ArialItalic.woff") format("woff"), url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }
span {
  font-family: Arial, sans-serif;
  font-weight: bold; }

.background {
  background-color: #d1d1d1;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin: auto;
  padding: 57px 6px 0 3px;
  text-align: center;
  width: 750px; }

.cardiousg, .gynecologistusg, .neurologist {
  float: left;
  margin-bottom: 23px;
  width: 160px; }
  .cardiousg div, .gynecologistusg div, .neurologist div {
    border: none;
    border-radius: 5px;
    background-color: #f00;
    height: 41px;
    line-height: 41px;
    text-align: center;
    width: inherit;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold; }
    .cardiousg div a, .gynecologistusg div a, .neurologist div a {
      color: #fff;
      text-decoration: none; }
  .cardiousg img, .gynecologistusg img, .neurologist img {
    height: 213px;
    margin-bottom: 8px; }
  .cardiousg p, .gynecologistusg p, .neurologist p {
    height: 108px; }

.clearfix {
  content: "";
  clear: both; }

.expirience {
  width: 550px; }

.fixed-price {
  margin: 23px 0 0; }
  .fixed-price a {
    text-decoration: underline; }

.float_wrap {
  display: inline-block;
  margin: 31px 0 0; }

footer {
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 0.64em;
  height: 67px;
  line-height: 2.1em;
  margin: auto;
  padding-top: 42px;
  width: 370px; }
  footer a {
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: underline; }

.gynecologist, .teethclean {
  float: left;
  margin-bottom: 30px;
  width: 255px; }
  .gynecologist div, .teethclean div {
    border: none;
    border-radius: 5px;
    background-color: #f00;
    height: 41px;
    line-height: 41px;
    text-align: center;
    width: inherit;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold; }
    .gynecologist div a, .teethclean div a {
      color: #fff;
      text-decoration: none; }
  .gynecologist img, .teethclean img {
    height: 213px;
    margin-bottom: 8px; }
  .gynecologist p, .teethclean p {
    height: 85px; }

.gynecologistusg {
  margin-left: 30px; }

header img {
  width: 641px; }

.like-on-facebook {
  border: none;
  border-radius: 5px;
  background-color: #f00;
  height: 41px;
  line-height: 41px;
  text-align: center;
  width: inherit;
  font-size: 15px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-top: 54px;
  width: 540px; }
  .like-on-facebook a {
    color: #fff;
    text-decoration: none; }
  .like-on-facebook a {
    text-decoration: none; }
  .like-on-facebook span {
    font-family: Arial, sans-serif;
    font-style: italic; }

main {
  line-height: 1.45em;
  margin: 51px 40px 0 50px;
  text-align: left; }
  main h4 {
    margin: 0 12px 10px 0;
    text-align: center; }

.neurologist {
  margin-left: 30px; }

.rightchoice p {
  margin-bottom: 10px; }
.rightchoice a {
  text-decoration: underline; }
.rightchoice span {
  font-family: Arial, sans-serif;
  font-style: italic; }

.teethclean {
  float: left;
  margin-left: 30px; }
  .teethclean div {
    border: none;
    border-radius: 5px;
    background-color: #f00;
    height: 41px;
    line-height: 41px;
    text-align: center;
    width: inherit;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold; }
    .teethclean div a {
      color: #fff;
      text-decoration: none; }
  .teethclean img {
    height: 213px;
    margin-bottom: 8px; }

.wrapper {
  background-color: #fff;
  font-size: 16px;
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
  width: 641px; }

.xdays-left {
  margin: 33px 0 23px; }

/*# sourceMappingURL=style.css.map */
