.layout {
    width: 450px;
    height: 170px;
    border: 1px solid grey;
    margin: 0 auto;
    border-radius: 10px;
}

.row {
    width: 440px;
    height: 50px;
    /*border: 1px solid grey;*/
    display: flex;
    justify-content: center;
    margin: 5px;
    text-align: center;
    align-items: center;
}

.key {
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    margin: 2px;
    font-weight: bold;
    font-family: Arial;
    font-size: 25px;
    background-color: lightgrey;
    border-radius: 10px;
}

.key:hover {
    background-color: white;
}
