#container {
    position: relative;
    background-color: #f00;
    min-height: 80px;
    color: #fff;
}
.folder {
    margin: 10px 0;
    min-height: 256px;
}
.closed {
    background: url(img/closed.png) no-repeat;
}

.open {
    background: url(img/open.jpeg) no-repeat;
}

.box {
    background-color: #4169E1;
    display: inline-block;
    height: 30px;
    margin: 2px;
    transition: 0.7s;
    width: 30px;
}

.img_slide {
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
}

.move {
    background-color: #06f;
    height: 50px;
    position: relative;
    width: 50px;
}
.container_trigger {
    background-color: #0ff;
    border: 4px solid #008080;
    padding: 10px;
    width: 620px;
}

.trigger {
    background-color: #FF8C00;
    border: 4px solid #000;
    border-radius: 30px;
    min-height: 200px;
    position: relative;
    width: 200px;

}
