body {
    margin: 0;
}

.align-center {
    text-align: center;
    margin-bottom: -5px;
}

aside {
    padding: 15px 10px 15px 20px;
    width: 200px;
    float: left;
}

aside ul {
    padding-left: 20px;
}

aside ul li {
    font-size: 13px;
    margin: 10px 0;
}

aside a {
    color: #000;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}

.aside__news, .link_color-red {
    margin-top: 40px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.contacts {
    width: 400px;
    height: 100px;
    margin: 10px;
    float: right;
    line-height: 21px;
    font-size: 14px;
}

.contacts p {
    margin: 0;
}

.email-skype {
    width: 180px;
    float: left;
    padding-right: 20px;
}

footer {
    font-weight: bold;
    background: #DDD;
    height: 90px;
    padding: 10px 10px 0 20px;
}

.full-wrapper {
    padding: 25px 0;
    background: url("images/strip.png") no-repeat 0 0 #fff fixed;
    background-size: 100% 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 150%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: left;
}
header {
    height:120px;
	width:100%;
	margin-bottom:40px;
}
.image-small, .image-large {
    width: 300px;
    margin: 15px auto;
    border-radius: 10px;
    border: 5px solid #00698c;
}

.image-large {
    width: 600px;
}

.link_color-red {
    color: #f00;
}

.logo {
    width: 300px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    float: left;
}

main {
    width: 680px;
    padding: 0 20px;
    float: right;
}

main span {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 16.08px;
    line-height: 36px;
}

h1 {
    line-height: 36px;
}

.wrapper {
    width: 960px;
    background: #fff url("images/header-bg.png") repeat-x;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px;
    margin: 0 auto;
    border: 1px solid #000;
}

.phone-number {
    width: 200px;
    float: left;
}
