@import 'reset';

$black: #000;
$white: #fff;
$grey: #ddd;
$blue: #00e;
$red: #f00;
$border-color: #00698c;

@mixin main-font ($font-size: 12px, $line-height: 18px, $weight: normal) {
  font: $weight $font-size 'Open Sans', sans-serif;
  line-height: $line-height;
}

@mixin clear-both {
  content: '';
  display: block;
  clear: both;
}

@mixin links {
  color: $black;
  text-decoration: none;

  &:active,
  &:hover {
    color: $black;
    text-decoration: underline;
  }

  &:visited {
    color: $black;
    text-decoration: none;
  }
}

@mixin img-style ($width:300px) {
  width: $width;
  margin: 15px;
  border-radius: 10px;
  border: 5px solid $border-color;
}

.lgp {
  @include main-font;
  background: url('../images/strip.png') no-repeat, $white;
  background-attachment: fixed;
  background-size: 100% 100vh;
  border: 0;
  height: 100%;
  padding: 25px 0;
  text-align: left;
  width: 100%;
}

.lgp-content-wrapper {
  background: url('../images/header-bg.png') repeat-x, $white;
  border: 1px solid $black;
  border-radius: 5px;
  box-shadow: 0 0 10px;
  margin: 0 auto;
  text-align: left;
  width: 960px;
}

header {
  height: 120px;
  margin-bottom: 40px;
  width: 100%;

  .logo {
    float: left;
    width: 340px;

    &__img {
      height: 100px;
      margin: 20px;
      width: 300px;
    }
  }

  .contacts {
    @include main-font (14px, 21px);
    float: right;
    height: 100px;
    margin: 10px;
    width: 400px;

    &__adress-phones,
    &__email-skype {
      float: left;
      width: 200px;

      a {
        @include links;

        &[href^="mailto:"] {
          color: $blue;
          text-decoration: underline;
        }
      }

      .main-phone {
        font-weight: bold;
      }
    }
  }

  .contacts__adress-phones:first-child {
    font-weight: bold;
  }

  .contacts__adress-phones:after {
    @include clear-both;
  }
}

.main {
  overflow: auto;

  aside {
    float: left;
    padding: 15px 10px 15px 20px;
    width: 200px;

    h3 {
      @include main-font (1.17em, 18px, bold);
      margin: 1em 0;
    }

    ul {
      list-style-type: disc;
      margin-left: 20px;

      li {
        margin: 10px 0;

        &:first-child a {
          color: $red;
        }

        &:last-child a {
          @include main-font (13px, 100%, normal);
        }
      }

      a {
        @include links;
        @include main-font (13px, 100%, bold);
      }
    }

    nav {
      margin-bottom: 40px;

      a {
        @include links;
        @include main-font (13px, 100%, normal);
      }

      li:first-child a {
        color: $black;
      }
    }
  }

  .main-content {
    float: right;
    padding: 0 20px;
    width: 680px;

    &:after {
      @include clear-both;
    }

    .notification {
      p {
        @include main-font (2em, 150%, bold);
        margin: .67em 0;
      }
    }

    h1 {
      @include main-font (2em, 150%, bold);
      margin: .67em 0;
    }

    p {
      @include main-font (12px, 150%);
      margin: 1em 0;
    }

    span {
      font-weight: bold;
    }

    a {
      font-weight: bold;
    }

    &__img-wrapper {
      text-align: center;

      a {
        @include main-font (12px, 150%);
      }
    }

    .img-width300 {
      @include img-style;
    }

    .img-width600 {
      @include img-style (600px);
    }
  }
}

footer {
  background: $grey;
  height: 80px;
  padding: 10px 10px 0 20px;

  p {
    @include main-font (12px, 150%, bold);
  }
}
