/*Styles for target_6.html*/

.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  position: relative;
}

.blue, .red, .yellow {
  width: 100px;
  height: 100px;
  position: absolute;
}

.blue {
  background: blue;
}

.red {
  background: red;
  left: 100px;
  top: 100px;
}

.yellow {
  background: yellow;
  left: 200px;
  top: 200px;
}
