
$large: 1024px;
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $large - 1) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $large) {
      @content;
    }
  }
}

.wrapper {
  font-family: "Lucida Sans", Verdana, sans-serif;

  .inner-wrapper {
    @include respond-to(handhelds) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: .5rem;
    }
    @include respond-to(medium-screens) {
      display: flex;
      flex-direction: row;
    }
  }
  .header {
    background-color: #f1f1f1;
    border: 1px solid #e9e9e9;
    @include respond-to(handhelds) {
      height: 8%;
      display: block;
      overflow: hidden;
      margin: .5rem;
    }
    @include respond-to(medium-screens) {
      margin: .5rem;
      height: 5rem;
    }
  }
  .header h1 {
    @include respond-to(handhelds) {
      font-size: 1rem;
      padding-left: .3rem;
      text-align: left;
      vertical-align: middle;
    }
    @include respond-to(medium-screens) {
      font-size: 2rem;
      padding-left: .3rem;
      text-align: left;
      vertical-align: middle;
    }
  }
  h2 {
    @include respond-to(handhelds) {
      font-size: 1rem;
    }
  }
  .menu {
    @include respond-to(medium-screens) {
      width: 35%;
      margin: 1rem .4rem;
    }
  }
  .menuitem {
    margin: 0;
    border-bottom: 1px solid #e9e9e9;
    cursor: pointer;
    @include respond-to(handhelds) {
      font-size: .8rem;
      padding: .2rem 0;
    }
    @include respond-to(medium-screens) {
      padding: .6rem .5rem;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
  .main {
    @include respond-to(handhelds) {
      font-size: .7rem;
    }
    @include respond-to(medium-screens) {
      width: 75%;
      margin: 1rem;
      font-size: 1.4rem;
    }
  }
  .main img {
    width: 99.9%;
    @include respond-to(medium-screens) {
      margin-top: .6rem;
    }
  }
  .main h1 {
    @include respond-to(handhelds) {
      font-size: 1rem;
      margin-top: 1rem;
    }
    @include respond-to(medium-screens) {
      font-size: 2.2rem;
    }
  }

  .questions {
    background-color: #cdf0f6;
    border: 1px solid #e9e9e9;
    @include respond-to(handhelds) {
      margin-top: .5rem;
      padding: 1%;
      font-size: .7rem;
    }
    @include respond-to(medium-screens) {
      width: 25%;
      height: 50%;
      margin: .4rem;
      padding: .3rem;
    }
  }

}