

caption {
	font-weight: bold;
	margin-bottom: 20px;
}

table {
	margin-left: 20px;
	border-radius: 10px;
	border-collapse: collapse;
	text-align: left;
	font-family: Arial;
	background: -webkit-box-shadow: 2px -1px 21px 0px rgba(173,168,173,1);
-moz-box-shadow: 2px -1px 21px 0px rgba(173,168,173,1);
box-shadow: 2px -1px 21px 0px rgba(173,168,173,1);
}


td, th {
	border-bottom: 1px solid lightgrey;
	padding: 12px;
	padding-right: 20px;
	/*border: 2px solid grey;*/
	
}

td.prodname {
	color: red;
}

td.rightcell {
	text-align: right;
	font-size: 14px;
}

td.cart {
	color: red;
	font-style: italic;
	font-weight: bold;
		text-align: center;
}

p {
	color: grey;
	font-size: 12px;
	font-weight: bold;
}

td.noborder {
	border-bottom: 0;
}

.increase{
	width:30px;
	height: 30px;
	background-color: red;
	font-size: 10px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
	
}

.decrease{
	width:30px;
	height: 30px;
	background-color: red;
	font-size: 10px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
}

.delete{
	width:60px;
	height: 30px;
	background-color: red;
	
	font-size: 10px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
}