@mixin border {
    border: solid 1px #fff;
}

a { 
    text-decoration: none;
    color: #fff;
}

.header-caption {
    font-weight: 600;
    font-size: 18px;
}

img {
    @include border;
}

.logo {
    height: 6vw;
}

.menu {
    display: table;

    &-item {
        @include border;
        display: table-cell;
        height: 3vw;
        vertical-align: middle;
        justify-content: center;
    }
}

.navbar-link {
    color: #000;
    font-size: 16px;
    margin-left: 26px;
}

.sidebar {
    height: 110vh;

    &_link {
        display: block;
        height: 100%;
    }
}

.valign-wrapper {
    justify-content: center;
}
