.inner {
    margin: 0;
    
}

.header {
    height: 20rem;
    margin: 0;
    border: 6px solid #fff;
}

.header img {
    margin: auto;
}

.simple {
    height: 10rem;
    border: 6px solid #fff;
    margin: 0;
}

.mid {
    width: 50%;
}
