
@font-face {
    font-family: 'Tahoma';
    src: url('fonts/Tahoma-Bold.woff2') format('woff2'),
         url('fonts/Tahoma-Bold.woff') format('woff'),
         url('fonts/Tahoma-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.background {
	background-color: #FFF;
	height: 550px;
    padding: 10px;
	width: 400px;
}

.button_buy {
    color: #fff;
    font-size: 28px;
    text-shadow: -1px 1px #000;
}

.container {
	border: 2px solid #000;
    height: 526px;
	font-family: 'Tahoma', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
	line-height: 26px;
    margin: 20px;
    text-align: center;
    width: 376px;
}

img {
    height: 285px;
    width: 250px;
}

.leasing {
    padding-right: 6px;
}

.label_leasing {
	background-color: #8bc144;
    box-shadow: -3px 3px #9c9c9c;
    color: #FFF;
    height: 31px;
    margin-top: 2px;
    width: 190px;
}

.lenovo_buy-wrapper {
    background-color: #f00;
    border-bottom: 4px solid #000;
    height: 37px;
    margin: 21px 0 0 62px;
    padding: 8px 0 0 15px;
    width: 214px;
    }

.lenovo_img {
    height: 285px;
    margin: 0px 0px 3px 2px;
    }

.lenovo_model {
    margin: 0 auto;
    padding: 10px 0 24px 3px;
    width: 300px;
}

.price {
    font-size: 31px;
}

.product_title {
    margin: 0 auto;
	padding: 10px 0 24px 1px;
	width: 300px;
}

.price-wrapper{
    margin: 20px 0 0 57px;
    width: 285px;
}
