*{
	padding: 0;
	margin: 0;
}
body {
	font-family: "Tahoma", sans-serif;
}
.main {
	width: 380px;
	margin: 10px;
	border: 1px solid #000;
}
.main--position-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main__text-logo {
	font-size: 22px;
	margin: 16px 42px 16px 46px;
}
.main__img {
	width: 250px;
	height: 285px;
}
.main__button-rastrochka {
	width: 190px;
	height: 31px;
	background-color: #8bc144;
	color: #fff;
	font-size: 22px;
	text-align: center;
	padding-top: 5px;
  	box-shadow: -5px 5px #9c9c9c;
  	margin-top: 5px;
}

.main__price {
	font-size: 31px;
	margin: 20px 0;
}
.main__button-buy {
	font-size: 28px;
	background-color: #ff0000;
	color: #fff;
	text-align: center;
	height: 46px;
	width: 229px;
	padding-top: 8px;
	box-shadow: 0 5px #850000;
	margin-bottom: 10px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
}

  
  





