.keyboard__row {
    display: flex;
    justify-content: center;
    padding: .25rem;
}

.keyboard__btn {
    display: block;
    padding: 0;
    width: 3.75rem;
    height: 3.75rem;
    margin-right: .5rem;
    border: 1px solid #bdbdbd;
    border-radius: .125rem;
    background-color: transparent;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #424242;
}

.keyboard__btn:last-child {
  margin-right: 0;
}
