@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold/ArialBold.woff") format("woff"), url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "ArialItalic";
  src: url("../fonts/ArialItalic/ArialItalic.woff") format("woff"), url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }
span {
  font-family: ArialBold, sans-serif; }

.background {
  background-color: #d1d1d1;
  font-family: ArialRegular, sans-serif;
  margin: auto;
  padding: 57px 6px 0 3px;
  text-align: center;
  width: 750px; }

.cardio_usg, .gynecologist_usg, .neurologist {
  float: left;
  margin-bottom: 23px;
  width: 160px; }
  .cardio_usg div, .gynecologist_usg div, .neurologist div {
    border: none;
    border-radius: 5px;
    background-color: #f00;
    height: 41px;
    line-height: 41px;
    text-align: center;
    width: inherit;
    font-size: 15px;
    font-family: ArialBold, sans-serif; }
    .cardio_usg div a, .gynecologist_usg div a, .neurologist div a {
      color: #fff;
      text-decoration: none; }
  .cardio_usg img, .gynecologist_usg img, .neurologist img {
    height: 213px;
    margin-bottom: 8px; }
  .cardio_usg p, .gynecologist_usg p, .neurologist p {
    height: 108px; }

.clearfix {
  content: "";
  clear: both; }

.expirience {
  width: 550px; }

.fixed_price {
  margin: 23px 0 0; }
  .fixed_price a {
    text-decoration: underline; }

.float_wrap {
  display: inline-block;
  margin: 31px 0 0; }

footer {
  color: #fff;
  font-family: ArialBold, sans-serif;
  font-size: 10px;
  height: 67px;
  line-height: 2.1em;
  margin: auto;
  padding-top: 42px;
  width: 370px; }
  footer a {
    color: #fff;
    font-family: ArialBold, sans-serif;
    text-decoration: underline; }

.gynecologist, .teeth_clean {
  float: left;
  margin-bottom: 30px;
  width: 255px; }
  .gynecologist div, .teeth_clean div {
    border: none;
    border-radius: 5px;
    background-color: #f00;
    height: 41px;
    line-height: 41px;
    text-align: center;
    width: inherit;
    font-size: 15px;
    font-family: ArialBold, sans-serif; }
    .gynecologist div a, .teeth_clean div a {
      color: #fff;
      text-decoration: none; }
  .gynecologist img, .teeth_clean img {
    height: 213px;
    margin-bottom: 8px; }
  .gynecologist p, .teeth_clean p {
    height: 85px; }

.gynecologist_usg {
  margin-left: 30px; }

header img {
  width: 641px; }

.like_on_facebook {
  border: none;
  border-radius: 5px;
  background-color: #f00;
  height: 41px;
  line-height: 41px;
  text-align: center;
  width: inherit;
  font-size: 15px;
  font-family: ArialBold, sans-serif;
  margin-top: 54px;
  width: 540px; }
  .like_on_facebook a {
    color: #fff;
    text-decoration: none; }
  .like_on_facebook a {
    text-decoration: none; }
  .like_on_facebook span {
    font-family: ArialItalic, sans-serif; }

main {
  line-height: 1.45em;
  margin: 51px 40px 0 50px;
  text-align: left; }
  main h4 {
    margin: 0 12px 10px 0;
    text-align: center; }

.neurologist {
  margin-left: 30px; }

.right_choice p {
  margin-bottom: 10px; }
.right_choice a {
  text-decoration: underline; }
.right_choice span {
  font-family: ArialItalic, sans-serif; }

.teeth_clean {
  float: left;
  margin-left: 30px; }
  .teeth_clean div {
    border: none;
    border-radius: 5px;
    background-color: #f00;
    height: 41px;
    line-height: 41px;
    text-align: center;
    width: inherit;
    font-size: 15px;
    font-family: ArialBold, sans-serif; }
    .teeth_clean div a {
      color: #fff;
      text-decoration: none; }
  .teeth_clean img {
    height: 213px;
    margin-bottom: 8px; }

.wrapper {
  background-color: #fff;
  font-size: 16px;
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
  width: 641px; }

.xdays_left {
  margin: 33px 0 23px; }

/*# sourceMappingURL=style.css.map */
