body{
	background: white;
}
.box1{ 
	background-color: #791c16;
	height: 600px;
	width: 600px;
}
.box2{ 
	background-color: white;
	margin-left: 200px;
	margin-top: -600px;
	width: 200px;
	height: 200px;	
}
.box3{ 
	margin-top: -180px;
	padding-left: 210px;
}
.box4{ 
	background-color: white;
	margin-left: 0px;
	margin-top: 0px;
	width: 200px;
	height: 200px;
	text-align: center;
}
.box5{ 
	background-color: white;
	margin-left: 400px;
	margin-top: -200px;
	/*padding-left: 200px;*/
	width: 200px;
	height: 200px;	
}
.box6{ 
	background-color: white;
	margin-left: 200px;
	margin-top: 0px;
	width: 200px;
	height: 201px;
	text-align: center;	
}
.box7{ 
	margin-left: 0px;
	margin-top: 3px;
}	