body {
	background: blue;
}
a{ color: white;
}
.box1{
	font-size: 45px;
	text-decoration-style: underline;
	text-align: center;
	padding: 100px;
	
}
.box2{
	font-size: 45px;
	text-decoration-style: underline;
	text-align: center;
}