.contant {
  background-color: #e4e4e4;
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px 20px;
}

p {
  padding: 15px;
}

.p-red {
  background-color: #ffcdd2;
  border: 1px solid #c62828;
  border-radius: 5px;
}

.img-wrapper {
  display: flex;
  justify-content: space-around;
}

figure {
  margin: 2px;
}
img {
  display: block;
  max-width: 100%;
  margin: 2px;
}

.shadow {
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.55);
}

.button-wrapper {
  margin: 10px 25px;
}

.task-5_7-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 10px 25px;
}

@media screen and (max-width: 400px) {

  .task-5_7-wrapper {
    flex-direction: column;
  }

}

button {
  margin: 15px 20px 15px 0;
  background-color: #b2ebf2;
  border: solid 1px #4fc3f7;
  border-radius: 3px;
  padding: 3px 7px;
}
