
$large: 1024px;
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $large - 1) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $large) {
      @content;
    }
  }
}

.wrapper {
  font-family: "Lucida Sans", Verdana, sans-serif;
  .header {
    background-color: #ff9800;
    border: 1px solid #e9e9e9;
    @include respond-to(handhelds) {
      height: 8%;
      padding: .5rem;
      display: block;
      overflow: hidden;
    }
    @include respond-to(medium-screens) {
      background-color: #ff9800;
      border: 1px solid #e9e9e9;
      padding-left: 1rem;
    }
  }
  .header h1 {
    font-weight: 300;
    margin: .4rem 0 .6rem 0;
  }
  .header p {
    margin: .2rem 0 .4rem 0;
  }
  .inner-wrapper {
    @include respond-to(handhelds) {
      margin: .5rem;
      display: flex;
      flex-direction: column;
    }
    @include respond-to(medium-screens) {
      display: flex;
      flex-direction: row;
      margin: .5rem;
      width: 97.5%;
    }
  }
  .container {
    @include respond-to(medium-screens) {
      width: 40%;
      padding: 0.4rem;
    }
  }
  .container.text {
    @include respond-to(handhelds) {
      width: 99.9%;
    }
    @include respond-to(medium-screens) {
      width: 99.9%;
    }
  }
  .container.text h2 {
    font-weight: 300;
    width: 99.9%;
  }
  .container.text p {
    @include respond-to(handhelds) {
      font-size: .9rem;
      width: 99.9%;
    }
  }
  .container.image {
    @include respond-to(handhelds) {
      display: flex;
      flex-direction: row;
    }
    @include respond-to(medium-screens) {
      width: 99.9%;
      padding: 0;
    }
  }
  .container.image img {
    @include respond-to(handhelds) {
      width: 47%;
      height: 49.9%;
      margin-right: 1rem;
    }
    @include respond-to(medium-screens) {
      width: 100%;
      height: 49.9%;
      padding: .3rem;
    }
  }
  .container.image img:last-child {
    @include respond-to(handhelds) {
      margin-right: 0;
    }
  }
}