.wrapper {
  font-family: "Lucida Sans", Verdana, sans-serif; }
  .wrapper .header {
    background-color: #ff9800;
    border: 1px solid #e9e9e9;
    height: 8%;
    padding: .5rem;
    display: block;
    overflow: hidden; }
    @media only screen and (min-width: 1024px) {
      .wrapper .header {
        background-color: #ff9800;
        border: 1px solid #e9e9e9;
        padding-left: 1rem; }
        .wrapper .header .image-adaptive, .wrapper .header .container.image img, .wrapper .container.image .header img {
          display: inline-block;
          width: 100%;
          margin: 0;
          padding: 2%;
          object-fit: cover; } }
  .wrapper .header h1 {
    font-weight: 300;
    margin: .4rem 0 .6rem 0; }
  .wrapper .header p {
    margin: .2rem 0 .4rem 0; }
  .wrapper .inner-wrapper {
    margin: .5rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 1024px) {
      .wrapper .inner-wrapper {
        display: flex;
        flex-direction: row;
        margin: .5rem;
        width: 97.5%; }
        .wrapper .inner-wrapper .image-adaptive, .wrapper .inner-wrapper .container.image img, .wrapper .container.image .inner-wrapper img {
          display: inline-block;
          width: 100%;
          margin: 0;
          padding: 2%;
          object-fit: cover; } }
  @media only screen and (min-width: 1024px) {
    .wrapper .container {
      width: 40%;
      padding: 0.4rem; }
      .wrapper .container .image-adaptive, .wrapper .container.image img {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 2%;
        object-fit: cover; } }
  .wrapper .container.text {
    width: 99.9%; }
    @media only screen and (min-width: 1024px) {
      .wrapper .container.text {
        width: 99.9%; }
        .wrapper .container.text .image-adaptive, .wrapper .container.text .container.image img, .wrapper .container.image .container.text img {
          display: inline-block;
          width: 100%;
          margin: 0;
          padding: 2%;
          object-fit: cover; } }
  .wrapper .container.text h2 {
    font-weight: 300;
    width: 99.9%; }
  .wrapper .container.text p {
    font-size: .9rem;
    width: 99.9%; }
  .wrapper .container.image {
    display: flex;
    flex-direction: row; }
    @media only screen and (min-width: 1024px) {
      .wrapper .container.image {
        width: 99.9%;
        padding: 0;
        display: flex;
        flex-direction: column; }
        .wrapper .container.image .image-adaptive, .wrapper .container.image img {
          display: inline-block;
          width: 100%;
          margin: 0;
          padding: 2%;
          object-fit: cover; } }
  .wrapper .container.image img {
    width: 47%;
    height: 49.9%;
    margin-right: 1rem; }
    @media only screen and (min-width: 1024px) {
      .wrapper .container.image img .image-adaptive, .wrapper .container.image img img {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 2%;
        object-fit: cover; } }
  .wrapper .container.image img:last-child {
    margin-right: 0; }

/*# sourceMappingURL=style.css.map */
